
.mainFxmlClass {

}

.TitleWindow{
    -fx-background-color:#100c0c; 
}

.TitleWindowClose:hover{
    -fx-background-color: #ff0000;
}

.TitleWindowClose:pressed{
    -fx-background-color: #660000;
}

.button{
    -fx-background-color: #3c2f2f;
}

.button:hover{
    -fx-background-color:#6666ff;
}

.button:pressed{
    -fx-background-color:#0066ff;
}
